SabreApiClient/Connected Services/CreatePNR/PassengerDetails32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:spct="http://services.sabre.com/sp/common/simple/v3" xmlns:stlp="http://services.sabre.com/STL_Payload/v02_01" elementFormDefault="qualified" targetNamespace="http://services.sabre.com/sp/pd/v3_3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="built-ins/STL2_Payload_v02_01.xsd" namespace="http://services.sabre.com/STL_Payload/v02_01" />
  <xs:import schemaLocation="built-ins/SpCommonSimpleTypes_v3.xsd" namespace="http://services.sabre.com/sp/common/simple/v3" />
  <xs:element name="PassengerDetailsRQ">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="stlp:STL_Request_Payload">
          <xs:sequence>
            <xs:element minOccurs="0" name="MiscSegmentSellRQ">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="MiscSegment">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="OriginLocation">
                          <xs:complexType>
                            <xs:attribute name="LocationCode" type="xs:string" use="required" />
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="Text" type="xs:string" />
                        <xs:element name="VendorPrefs">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Airline">
                                <xs:complexType>
                                  <xs:attribute name="Code" type="xs:string" use="required" />
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="DepartureDateTime" type="spct:date" use="required" />
                      <xs:attribute name="InsertAfter" type="xs:integer" use="optional" />
                      <xs:attribute name="NumberInParty" type="xs:integer" use="required" />
                      <xs:attribute name="Status" type="xs:string" use="required" />
                      <xs:attribute name="Type" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="INS" />
                            <xs:enumeration value="MCO" />
                            <xs:enumeration value="OTH" />
                            <xs:enumeration value="PTA" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="PostProcessing">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ARUNK_RQ" />
                  <xs:element minOccurs="0" name="EndTransactionRQ">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="EndTransaction">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="Email">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" name="eTicket">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element minOccurs="0" name="PDF">
                                            <xs:complexType>
                                              <xs:attribute name="Ind" type="xs:boolean" use="required" />
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="Invoice">
                                      <xs:complexType>
                                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="Itinerary">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element minOccurs="0" name="PDF">
                                            <xs:complexType>
                                              <xs:attribute name="Ind" type="xs:boolean" use="required" />
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment">
                                            <xs:complexType>
                                              <xs:attribute name="EndNumber" type="xs:integer" use="optional" />
                                              <xs:attribute name="Number" type="xs:integer" use="required" />
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="PersonName">
                                      <xs:complexType>
                                        <xs:attribute name="NameNumber" type="xs:string" use="required" />
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Ind" type="xs:boolean" use="required" />
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute name="Ind" type="xs:string" use="required" />
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="Source">
                          <xs:complexType>
                            <xs:attribute name="ReceivedFrom" type="xs:string" use="required" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="QueuePlaceRQ">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="MultiQueuePlace">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="20" name="QueueIdentifier">
                                <xs:complexType>
                                  <xs:attribute name="Number" type="xs:string" use="required" />
                                  <xs:attribute name="PrefatoryInstructionCode" type="xs:string" use="required" />
                                  <xs:attribute name="PseudoCityCode" type="xs:string" use="required" />
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="QueueInfo">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="3" name="QueueIdentifier">
                                <xs:complexType>
                                  <xs:attribute name="Name" type="xs:string" use="optional" />
                                  <xs:attribute name="Number" type="xs:string" use="optional" />
                                  <xs:attribute name="PrefatoryInstructionCode" type="xs:string" use="required" />
                                  <xs:attribute name="PseudoCityCode" type="xs:string" use="optional" />
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" maxOccurs="6" name="UniqueID">
                                <xs:complexType>
                                  <xs:attribute name="ID" type="xs:string" use="required" />
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="IgnoreAfter" type="xs:boolean" use="optional" />
                <xs:attribute name="RedisplayReservation" type="xs:boolean" use="optional" />
                <xs:attribute default="false" name="UnmaskCreditCard" type="xs:boolean" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="PreProcessing">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="UniqueID">
                    <xs:complexType>
                      <xs:attribute name="ID" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="IgnoreBefore" type="xs:boolean" use="optional" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="PriceQuoteInfo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="98" name="Link">
                    <xs:complexType>
                      <xs:attribute name="HostedCarrier" type="xs:boolean" use="optional" />
                      <xs:attribute name="NameNumber" type="xs:string" use="optional" />
                      <xs:attribute name="Record" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ProfileRQ">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="UniqueID">
                    <xs:complexType>
                      <xs:attribute name="ID" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="SpecialReqDetails">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="AddRemarkRQ">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="RemarkInfo">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="FOP_Remark">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" name="CC_Info">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="PaymentCard">
                                            <xs:complexType>
                                              <xs:attribute name="AirlineCode" type="xs:string" use="optional" />
                                              <xs:attribute name="CardSecurityCode" type="xs:string" use="optional" />
                                              <xs:attribute name="Code" type="xs:string" use="required" />
                                              <xs:attribute name="ExpireDate" type="spct:expireDate" use="required" />
                                              <xs:attribute name="ExtendedPayment" type="xs:string" use="optional" />
                                              <xs:attribute name="ManualApprovalCode" type="xs:string" use="optional" />
                                              <xs:attribute name="Number" type="xs:string" use="required" />
                                              <xs:attribute name="SuppressApprovalCode" type="xs:boolean" use="optional" />
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="Suppress" type="xs:boolean" use="optional" />
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Type" type="xs:string" use="optional" />
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="FutureQueuePlaceRemark">
                                <xs:complexType>
                                  <xs:attribute name="Date" type="spct:date" use="required" />
                                  <xs:attribute name="PrefatoryInstructionCode" type="xs:string" use="required" />
                                  <xs:attribute name="PseudoCityCode" type="xs:string" use="optional" />
                                  <xs:attribute name="QueueIdentifier" type="xs:string" use="required" />
                                  <xs:attribute name="Time" type="spct:time" use="optional" />
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" maxOccurs="98" name="Remark">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="Text" type="xs:string" />
                                  </xs:sequence>
                                  <xs:attribute name="Code" type="xs:string" use="optional" />
                                  <xs:attribute name="SegmentNumber" type="xs:string" use="optional" />
                                  <xs:attribute name="Type" use="required">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:enumeration value="Alpha-Coded" />
                                        <xs:enumeration value="Client Address" />
                                        <xs:enumeration value="Corporate" />
                                        <xs:enumeration value="Delivery Address" />
                                        <xs:enumeration value="General" />
                                        <xs:enumeration value="Group Name" />
                                        <xs:enumeration value="Hidden" />
                                        <xs:enumeration value="Historical" />
                                        <xs:enumeration value="Invoice" />
                                        <xs:enumeration value="Itinerary" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="AirSeatRQ">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Seats">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="98" name="Seat">
                                <xs:complexType>
                                  <xs:attribute name="BoardingPass" type="xs:boolean" use="optional" />
                                  <xs:attribute name="ChangeOfGauge" type="xs:boolean" use="optional" />
                                  <xs:attribute name="NameNumber" type="xs:string" use="required" />
                                  <xs:attribute name="Number" type="xs:string" use="optional" />
                                  <xs:attribute name="Preference" type="xs:string" use="optional" />
                                  <xs:attribute name="SegmentNumber" type="xs:string" use="optional" />
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="SpecialServiceRQ">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="SpecialServiceInfo">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="AdvancePassenger">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" name="Document">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element minOccurs="0" name="IssueCountry" type="xs:string" />
                                          <xs:element minOccurs="0" name="NationalityCountry" type="xs:string" />
                                          <xs:element minOccurs="0" name="Visa">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element name="ApplicableCountry" type="xs:string" />
                                                <xs:element minOccurs="0" name="PlaceOfBirth" type="xs:string" />
                                                <xs:element name="PlaceOfIssue" type="xs:string" />
                                              </xs:sequence>
                                              <xs:attribute name="IssueDate" type="spct:fullDate" use="required" />
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="ExpirationDate" type="spct:fullDate" use="optional" />
                                        <xs:attribute name="Number" type="xs:string" use="optional" />
                                        <xs:attribute name="Type" type="xs:string" use="required" />
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="PersonName">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element minOccurs="0" name="GivenName" type="xs:string" />
                                          <xs:element minOccurs="0" name="MiddleName" type="xs:string" />
                                          <xs:element minOccurs="0" name="Surname" type="xs:string" />
                                        </xs:sequence>
                                        <xs:attribute name="DateOfBirth" type="spct:fullDate" use="optional" />
                                        <xs:attribute name="DocumentHolder" type="xs:boolean" use="optional" />
                                        <xs:attribute name="Gender" use="optional">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:enumeration value="F" />
                                              <xs:enumeration value="M" />
                                              <xs:enumeration value="FI" />
                                              <xs:enumeration value="MI" />
                                              <xs:enumeration value="U" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="NameNumber" type="xs:string" use="optional" />
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="ResidentDestinationAddress">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element minOccurs="0" name="City" type="xs:string" />
                                          <xs:element name="Country" type="xs:string" />
                                          <xs:element minOccurs="0" name="Street" type="xs:string" />
                                          <xs:element minOccurs="0" name="State" type="xs:string" />
                                          <xs:element minOccurs="0" name="Zip" type="xs:string" />
                                        </xs:sequence>
                                        <xs:attribute name="Type" type="xs:string" use="required" />
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="VendorPrefs">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Airline">
                                            <xs:complexType>
                                              <xs:attribute name="Hosted" type="xs:boolean" use="optional" />
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="SegmentNumber" type="xs:string" use="optional" />
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="SecureFlight">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" name="KnownTravelerNumber" type="xs:string" />
                                    <xs:element minOccurs="0" name="PersonName">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element minOccurs="0" name="GivenName" type="xs:string" />
                                          <xs:element minOccurs="0" name="Surname" type="xs:string" />
                                        </xs:sequence>
                                        <xs:attribute name="DateOfBirth" type="xs:string" use="optional" />
                                        <xs:attribute name="Gender" use="optional">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:enumeration value="F" />
                                              <xs:enumeration value="M" />
                                              <xs:enumeration value="FI" />
                                              <xs:enumeration value="MI" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="NameNumber" type="xs:string" use="optional" />
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="RedressNumber" type="xs:string" />
                                    <xs:element minOccurs="0" name="VendorPrefs">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Airline">
                                            <xs:complexType>
                                              <xs:attribute name="Hosted" type="xs:boolean" use="optional" />
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="SegmentNumber" type="xs:string" use="optional" />
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="Service">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" name="PersonName">
                                      <xs:complexType>
                                        <xs:attribute name="NameNumber" type="xs:string" use="optional" />
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="Text" type="xs:string" />
                                    <xs:element minOccurs="0" name="VendorPrefs">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Airline">
                                            <xs:complexType>
                                              <xs:attribute name="Code" type="xs:string" use="optional" />
                                              <xs:attribute name="Hosted" type="xs:boolean" use="optional" />
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="SegmentNumber" type="xs:string" use="optional" />
                                  <xs:attribute name="SSR_Code" type="xs:string" use="required" />
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="TravelItineraryAddInfoRQ">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="AgencyInfo">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="Address">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="AddressLine" type="xs:string" />
                              <xs:element name="CityName" type="xs:string" />
                              <xs:element minOccurs="0" name="CountryCode" type="xs:string" />
                              <xs:element minOccurs="0" name="PostalCode" type="xs:string" />
                              <xs:element minOccurs="0" name="StateCountyProv">
                                <xs:complexType>
                                  <xs:attribute name="StateCode" type="xs:string" use="required" />
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="StreetNmbr" type="xs:string" />
                              <xs:element minOccurs="0" name="VendorPrefs">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="Airline">
                                      <xs:complexType>
                                        <xs:attribute name="Hosted" type="xs:boolean" use="required" />
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="Ticketing">
                          <xs:complexType>
                            <xs:attribute name="PseudoCityCode" type="xs:string" use="optional" />
                            <xs:attribute name="QueueNumber" type="xs:integer" use="optional" />
                            <xs:attribute name="QueueName" type="xs:string" use="optional" />
                            <xs:attribute name="ShortText" type="xs:string" use="optional" />
                            <xs:attribute name="TicketTimeLimit" type="spct:dateTime" use="optional" />
                            <xs:attribute name="TicketType" type="xs:string" use="required" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="CustomerInfo">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="ContactNumbers">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="unbounded" name="ContactNumber">
                                <xs:complexType>
                                  <xs:attribute name="InsertAfter" type="xs:integer" use="optional" />
                                  <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                                  <xs:attribute name="NameNumber" type="xs:string" use="optional" />
                                  <xs:attribute name="Phone" type="xs:string" use="required" />
                                  <xs:attribute name="PhoneUseType" type="xs:string" use="required" />
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="Corporate">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="ID" type="xs:string" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="CustLoyalty">
                          <xs:complexType>
                            <xs:attribute name="MembershipID" type="xs:string" use="required" />
                            <xs:attribute name="NameNumber" type="xs:string" use="optional" />
                            <xs:attribute name="ProgramID" type="xs:string" use="required" />
                            <xs:attribute name="SegmentNumber" type="xs:string" use="optional" />
                            <xs:attribute name="TravelingCarrierCode" type="xs:string" use="optional" />
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CustomerIdentifier" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Email">
                          <xs:complexType>
                            <xs:attribute name="Address" type="xs:string" use="required" />
                            <xs:attribute name="NameNumber" type="xs:string" use="optional" />
                            <xs:attribute name="ShortText" type="xs:string" use="optional" />
                            <xs:attribute name="Type" use="optional">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="BC" />
                                  <xs:enumeration value="CC" />
                                  <xs:enumeration value="FR" />
                                  <xs:enumeration value="TO" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonName">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="GivenName" type="xs:string" />
                              <xs:element minOccurs="0" name="GroupInfo">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" name="VendorPrefs">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Airline">
                                            <xs:complexType>
                                              <xs:attribute name="Code" type="xs:string" use="required" />
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="Name" type="xs:string" use="required" />
                                  <xs:attribute name="NumSeatsRemaining" type="xs:integer" use="required" />
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="Surname" type="xs:string" />
                            </xs:sequence>
                            <xs:attribute name="Infant" type="xs:boolean" use="optional" />
                            <xs:attribute name="NameNumber" type="xs:string" use="optional" />
                            <xs:attribute name="NameReference" type="xs:string" use="optional" />
                            <xs:attribute name="PassengerType" type="xs:string" use="optional" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="HaltOnError" type="xs:boolean" use="optional" />
          <xs:attribute name="IgnoreOnError" type="xs:boolean" use="optional" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>