SabreApiClient/Connected Services/CreatePassengerNameRecordRQ/CreatePassengerNameRecordCommonTypes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://services.sabre.com/sp/reservation/common/types/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rct="http://services.sabre.com/sp/reservation/common/types/v1" elementFormDefault="qualified" targetNamespace="http://services.sabre.com/sp/reservation/common/types/v1">
  <xsd:simpleType name="shortTrimmedString">
    <xsd:annotation>
      <xsd:documentation>A short text that cannot be blank nor contain only whitespaces</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="128" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="waitIntervalType">
    <xsd:annotation>
      <xsd:documentation>Default wait interval range</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="100" />
      <xsd:maxInclusive value="10000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numAttemptsType">
    <xsd:annotation>
      <xsd:documentation>Default num attempts range</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="6" />
    </xsd:restriction>
  </xsd:simpleType>
</xs:schema>